<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../assets/js/vue.js"></script>
</head>
<body>
    <div id="app"></div>
<script>
    Vue.component("myComponents",{
        template:`
            <div>
                (<input v-model="num1"/>+
                <input v-model="num2"/>)*
                <input v-model="num3"/>={{ myResult }}
            </div>`,
        data:function(){
            return {
                num1:1,
                num2:1,
                num3:1,
            }
        },
        computed:{
            myResult:function(){
                return (parseInt(this.num1)+parseInt(this.num2))*this.num3;
            }
        }
    })

    var app=new Vue({
        el:"#app",
        template:`<myComponents/>`,
    })
</script>
</body>
</html>